/* App.css에 추가 */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.app {
  text-align: left;
}

.header {
  display: grid;
  grid-template-rows: 7vh 30vh;
  width: 100%;
  height: 15vh;
  text-align: center;
}

.header img {
  width: 10%;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.header p {
  position: absolute; /* 절대 위치 지정 */
  right: 17vw;
  top: 1vh;
  color: red;
  font-weight: bold;
}

.header button {
  width: 6vw;
  border: none;
  cursor: pointer;
  margin-right: 2%;
}

.header-bar {
  background-color: rgba(255, 178, 14, 0.26);
  text-align: right;
}

.header-logo {
  background-color: rgba(255, 178, 14, 0.5);
  height: 23vh;
}

#mypage-button {
  background-color: rgba(255, 178, 14, 0);
  position: absolute;
  color: red;
  font-weight: bold;
  top: 1vh;
  right: 8vw;
}

#header-logout-button {
  position: absolute; /* 절대 위치 지정 */
  right: 1vw;
  top: 1vh;
  background-image: url('./image/logout.png');
  background-color: rgba(255, 178, 14, 0);
  background-size: contain;
  background-repeat: no-repeat;
  width: 6vw;
  height: 5vh;
  border: none;
  cursor: pointer;
}

#header-login-button {
  right: 1vw;
  margin-top: 1vh;
  background-image: url('./image/login.png');
  background-color: rgba(255, 178, 14, 0);
  background-size: contain;
  background-repeat: no-repeat;
  width: 6vw;
  height: 5vh;
  border: none;
  cursor: pointer;
}

#header-signup-button {
  color: red;
  background-color: rgba(255, 178, 14, 0);
}

#new-post {
  position: absolute; /* 절대 위치 지정 */
  right: 1vw;
  top: 18vh;
  background-image: url('./image/newpost.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(255, 178, 14, 0);
  width: 8vw;
  height: 15vh;
  border: none;
  cursor: pointer;
}

.new-post {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.new-post textarea {
  width: 25vw;
  height: 60vh;
  font-size: 4em;
}

.upload-button {
  display: inline-block;
  width: 40vw;
  height: 60vh;
  background-color: white;
  background-image: url('./image/Add_Image.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  border: 10px solid rgba(255, 178, 14, 0.5);
}

#file-upload {
  display: none;
}

.popular-posts {
  width: 100%;
  margin: 20px auto;
  margin-top: 15vh;
}

.recent-posts {
  width: 100%;
  margin: 20px auto;
  margin-top: 5vh;
}

.popular-posts {
  background-color: white;
}

.recent-posts {
  background: linear-gradient(to bottom, white, #ffad84);
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(255, 178, 14, 0.26);
}

.post {
  width: 19vw;
  height: 50vh;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  background-color: white;
}

.post-image img {
  margin-left: 2vw;
  margin-top: 2vh;
  width: 80%;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
}

.post-content {
  padding: 10px;
  text-align: center;
}

.post-reactions {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #f2f2f2;
}

.reaction {
  cursor: pointer;
}

.footer {
  background-color: #ffad84;
  color: black;
  text-align: left;
  bottom: 0px;
  width: 100%;
  height: 20vh;
}

.only-header {
  background-color: white;
  width: 100%;
}

.only-header img {
  margin-left: 45%;
  width: 10%;
}

.login {
  display: grid;
  grid-template-rows: 1fr 4fr;
  background-color: rgba(255, 178, 14, 0.26);
  height: 100vh;
  width: 100vw;
}
.signup-form {
  background-color: white;
  display: flex;
  flex-direction: column;

  height: 50vh; /* 화면 높이 만큼 설정하여 세로 중앙 정렬 */
  width: 30vw;
  padding-top: 15vh;
  margin-top: 8vh;
  border: #ffad84; /* 왜 적용이 안 되지 */
}

.signup-form input {
  align-items: center;
  margin-left: 1vw;
  margin-right: 10vw;
}

.signup-form label {
  padding-left: 1vw;
}

.create-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  bottom: 0;
  justify-content: space-between;
}

.create-page img {
  width: 20vw;
  bottom: 0;
}

.modal {
  font-size: 2vw;
  position: absolute; /* 절대 위치 지정 */
  left: 50vw;
  top: 50vh;
  height: 20%;
  width: 25vw;
  border: solid 5px #ffad84;
  border-radius: 10%;
  background-color: white;
  transform: translate(-50%, -50%);
  text-align: center;
}

.click-modal {
  font-size: 2vw;
  position: absolute; /* 절대 위치 지정 */
  left: 50vw;
  top: 50vh;
  height: 60%;
  width: 25vw;
  background-image: url('./image/click-modal.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(255, 178, 14, 0);
  transform: translate(-50%, -50%);
  text-align: center;
}

.click-modal button {
  background-color: white;
  border: none;
}

#nickname-text {
  color: black;
  font-size: 0.5em;
}

.check {
  background-image: url('./image/check.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(255, 178, 14, 0);
}

.fork {
  position: absolute; /* 절대 위치 지정 */
  left: 0;
  bottom: 0;
}

.spoon {
  position: absolute; /* 절대 위치 지정 */
  right: 0;
  bottom: 0;
}

.mypage h1 {
  color: red;
}

.mypage-header {
  background-color: white;
  text-align: center;
}

.mypage-header img {
  margin-top: 2vh;
  width: 10vw;
}

.mypage-header p {
  position: absolute; /* 절대 위치 지정 */
  right: 8vw;
  top: 1vh;
  color: red;
}
.logout-button {
  position: absolute; /* 절대 위치 지정 */
  right: 1vw;
  top: 15vh;
  background-image: url('./image/logout.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  width: 9vw;
  height: 6vh;
  border: none;
  cursor: pointer;
}

.back-button {
  position: absolute; /* 절대 위치 지정 */
  left: 1vw;
  top: 2vh;
  background-image: url('./image/back.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  width: 7vw;
  height: 5vh;
  border: none;
  cursor: pointer;
}

.gear-button {
  position: absolute; /* 절대 위치 지정 */
  right: 1vw;
  top: 2vh;
  background-image: url('./image/gear.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  width: 6vw;
  height: 6vh;
  border: none;
  cursor: pointer;
}
