.post-slider {
  position: relative;
  overflow: hidden;
  height: 55vh; /* 높이 설정 */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(255, 178, 14, 0.26);
}

.post-list {
  display: flex;
  transition: transform 0.5s ease;
}

.post-list {
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .slide-left {
  transform: translateX(-100%);
}

.slide-right {
  transform: translateX(100%);
} */

#left-button,
#right-button {
  display: inline-block;
  width: 5vw;
  height: 5vw;
  margin-top: 25vh;
  background-color: rgba(255, 178, 14, 0);
  background-image: url('../image/back.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}
